@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to OnlineSupermarket</h1>
    <img src="https://i1.wp.com/www.globaltrademag.com/wp-content/uploads/2020/04/shutterstock_121120492.jpg?fit=699%2C393&ssl=1" />
</div>
